/* global styling************* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* navbar************* */
.nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white !important;
    z-index: 10;
}

/* about section****** */
#team{
    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.3s;
        border-radius: 10px; /* 5px rounded corners */
        padding: 22px;
        width: 100%;
        button{
            border-radius: 0 0 10px 10px;
            background-color: #ccc !important;
        }
    }
    &.grid{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
       gap: 20px;
    }
}


/* projects******************* */ 
#projectSection .cards{
        /* width: 100%; */
        border: 5px solid #f1f1f1 !important;
        /* background-color: saddlebrown !important; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
 /* contact ******************* */ 
    #contact{
        padding: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        background-color: white !important;
        border: 2px solid #f1f1f1 !important;
        margin-bottom: 20px;
    }